<div class="row">
	<div class="col-xs-9 col-xs-offset-3">
		<h1 id="title">Title</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-9 col-xs-offset-3">
		<p id="description">Title</p>
	</div>
</div>



<h1>Studio</h1>

<p>We run Pro Tools HD|2 along with the Digidesign Control|24 control surface. Listening is done on Mackie HR824 high resolution studio monitors. Our main tracking channels are API 312 Brent Averill mic pre-amps running into NTP 182-150 EQs and then into vintage URIE 7110 compressors. Trident, Presonus, Focusrite, and MPA Tube pre-amps make up the rest of our input channels. We also have two mobile recording rigs: an Alesis HD24 and a Tascam DR680 and an auxilary PC station running Cubase 5.5.2
<h2>Our microphone collection includes mics by:</h2>
<ul>
<li>Neumann</li>
<li>Shure</li>
<li>AKG</li>
<li>Sennheiser</li>
<li>Rode</li>
<li>Crown</li>
<li>Beyer</li>
<li>Audix</li>
<li>MXL</li>
<li>Octavia</li>
<li>Apex</li>
</ul>
<h2>Instruments:</h2>
<ul>
<li>Parker Fly Classic</li>
<li>Rickenbacker 660/12</li>
<li>Difiance DGC</li>
<li>Difiance Bass</li>
<li>Alesis QS6.1 with Expansion Cards</li>
<li>Reason with M-Audio Axiom 61 Keyboard Controller</li>
</ul>
<h2>AMPS:</h2>
<ul>
<li>Line 6 - Vetta</li>
<li>Marshall - Artist 30</li>
<li>Ampeg SVT-3 Pro</li>
<li>Marshall Mode 4 Half Stack</li>
<li>Marshall MG-250 DRX</li>
<li>Mesa Boogie Dual Rectifier</li>
<li>Mesa Boogie 4 x 10 Bass Cab</li>
<li>Fender Ultimate Chorus</li>
<li>Heil Talkbox</li>
</ul>
<h2>DRUM SET:</h2>
<p>The in-house drum set is a limited edition 7 piece birch Timeless Timber by DW. The wood used to build this kit was sitting on the bottom of Lake Superior for over 100 years (it sounds good). Cymbals by Zyldjian, Sabian, Paiste, and Wu-Han.</p>