<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h1 id="title" class="editable">Title</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-xs-3 col-xs-offset-3">
    <p id="description" class="editable">description</p>
  </div>
  <div class="col-xs-3">
    <img class="img-thumbnail" src="/assets/board.png">
  </div>
</div>
<div class="row">
  <div class="col-xs-3 col-xs-offset-3">
    <h3 id="mics" class="editable">mics</h3>
    <hr>
    <p id="miclist" class="editable">mics</p>
  </div>
  <div class="col-xs-3">
    <img class="img-thumbnail" src="/assets/drums.jpg">
  </div>
</div>

<div class="row">
  <div class="col-xs-3 col-xs-offset-3">
    <h3 id="amps" class="editable">amps</h3>
    <hr>
    <p id="amplist" class="editable">amps</p>
  </div>
  <div class="col-xs-3">
    <img class="img-thumbnail" src="/assets/amp.png">
  </div>
</div>

<div class="row">
  <div class="col-xs-3 col-xs-offset-3">    
    <h3 id="instruments" class="editable">instruments</h3>
    <hr>
    <p id="instrumentlist" class="editable">instruments</p>
  </div>
  <div class="col-xs-3">
    <img class="img-thumbnail" src="/assets/couch.png">
  </div>
</div>

<div class="row">
  <div class="col-xs-3 col-xs-offset-3">    
    <h3 id="drums" class="editable">drums</h3>
    <hr>
    <p id="drumlist" class="editable">drums</p>
  </div>
  <div class="col-xs-3">
    <img class="img-thumbnail" src="/assets/drums2.png">
  </div>
</div>
