// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: url(/assets/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
	background: rgba(200,200,200,0.9);
}

.content {
	padding-bottom: 50px;
}

h1 {
	line-height: 1.2;
}

h2 {
	line-height: 1.2;
}

h3 {
	line-height: 1.2;
}

#header-container {
	background: #222;
}

hr {
	border-top: 1px solid #777;
}

main {
	background: none;
}

p {
	font-size: 14px;
}